.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 5px;
  border: 5px solid white;
}

.App-small {
  max-width: 80vmin;
}

.App-header {
  background-color: #ABE1FF; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 0px 2px #4394c0 ;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
